@define-color myidle rgb(39, 155, 116);
@define-color myhover rgb(194, 137, 63);
@define-color myactive black;

@define-color myidleinner black;
@define-color myhoverinner black;
@define-color myactiveinner white;


.xfce4-panel.background .tasklist button { 
    border-radius: 3px;
    text-shadow: 0 0px #3c3c3c; 
    color: #000000; 
    background-color: @myidle;
    border: none; 
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.xfce4-panel.background .tasklist button.flat { 
    background-image: none; 
    border: none; 
    box-shadow: none; 
}

.xfce4-panel.background .tasklist button:active, .xfce4-panel.background .tasklist button:checked { 
    color: white; 
    background-color: @myactive;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 -1px rgba(0, 0, 0, 0.2); 
}

.xfce4-panel.background .tasklist button:hover, .xfce4-panel.background .tasklist button:active:hover, .xfce4-panel.background .tasklist button:checked:hover { 
    background-color: @myhover;
    color: black;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), inset 0 -1px rgba(0, 0, 0, 0.2); 
}

.xfce4-panel.background .tasklist button image { 
    padding: 3px; 
}

.xfce4-panel.background.horizontal .tasklist button { margin: 0 1px; }

.xfce4-panel.background.horizontal .tasklist button label { padding-right: 3px; }

#pulseaudio-button {
    background-image: none;
    border-radius: 0px; 
    color: @myidleinner; 
    background-color: @myidle;
    border: none; 
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#pulseaudio-button:hover {
    background-image: none;
    background-color: @myhover;
    color: @myhoverinner;
    box-shadow: none;
    }

#pulseaudio-button:checked {
    background-color: @myactive;
    color: @myactiveinner;
}

#pulseaudio-button:checked:hover {
    background-image: none;
    background-color: @myhover;
    color: @myhoverinner;
    box-shadow: none;
}

#clock-button {
    border-radius: 0px; 
    border: none; 
    background-color: @myidle;
    color: @myidleinner;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#clock-button:hover {
    background-image: none;
    background-color: @myhover;
    box-shadow: none;
    color: myhoverinner;
}

#clock-button:checked {
    background-color: @myactive;
    color: @myactiveinner;
}

#clock-button:checked:hover {
    background-image: none;
    background-color: @myhover;
    color: @myhoverinner;
    box-shadow: none;
}


/* tomar esta ste de modelo */

#xfce4-power-manager-plugin {
border-radius: 0px; 
    border: none; 
    background-color: @myidle;
    color: @myidleinner;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#xfce4-power-manager-plugin:hover {
    background-image: none;
    background-color: @myhover;
    color: @myhoverinner;
    box-shadow: none;

}
   
#xfce4-power-manager-plugin:checked {
    background-color: @myactive;
    color: @myactiveinner;
}

#xfce4-power-manager-plugin:checked:hover {
    background-image: none;
    background-color: @myhover;
    color: @myhoverinner;
    box-shadow: none;
}
